{% extends 'main.html' %}

{% block content %}
<section class="flex-center">
  <h1>Manage Materials</h1>

  <div class="flex-center">
    <a href="{{ url_for('admin.materials.new_material') }}" class="btn-action">Add new Material</a>
  </div>

  <div class="responsive-table">
    <table>
      <thead>
        <tr>
          <th>Material</th>
          <th>Price</th>
          <th class="column-right-align">Last Updated</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for material in prices %}
        <tr data-materialid="{{ material.id }}">
          <td>{{ material.name }}</td>
          <td>{{ "%.2f"|format(material.price) }} Kč</td>
          <td class="column-right-align" title="{{ material.added }}" data-dateformatter="true">{{ material.added }}
          </td>
          <td class="column-right-align"><a
              href="{{ url_for('admin.materials.update_material', material_id=material.id) }}"
              class="btn btn-primary">Edit</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</section>
{% endblock %}