{% extends 'main.html' %}
{% block content %}

<section class="flex-center">
    <img src="static/img/banner.png" alt="Banner" class="head">
    <div class="red-font">
        <h1>Scrap Metal Recycling - A Guide For Complete Beginners</h1>
    </div>
    <div class="homepage">
        <p>You can’t turn anything you touch into gold, unless your name is King Midas.</p> </br>
        <p>But believe it or not:</p> </br>
        <p>You can help save the environment by turning junk into cash.</p> </br>
        <p>Perhaps you’ve heard about scrap metal recycling many times before. Maybe you’ve read about it, too, but
            didn’t have the inclination to jump onto the recycling train. But after reading this guide, you may even
            feel pumped up enough to inspect your home for pieces of trash with metals in them.</p>
    </div>
    <img class="responsive" src="static/img/recycle.png" alt="Recycle" height="380px" width="700px">
    <div class="red-font">
        <h1>Basic Knowledge Of Metals</h1>
    </div>
    <div class="homepage">
        <p>While you don’t need to be a metallurgist to recycle metals,
            you need to know enough to tell the materials apart. Otherwise,
            you will have difficulty estimating the value of your pile. For new scrappers,
            the following list of pointers will help.</p>
    </div>
    <img class="responsive" src="static/img/ferrous.jpg" alt="Ferrous" height="500px" width="700px">
    <div class="homepage">
        <ul>
            <li><strong>Steel</strong> is easy to tell apart from other materials because it will stick to a magnet like
                its life depends on it. It’s also one of the cheapest and heaviest metals around. While steel isn’t
                valued as much as the nonferrous type, you won’t run out of steel scrap as it’s found in just about
                anything from old coat hangers to washing machines.</li>
            <li><strong>Iron</strong> is also magnetic. Yards use magnet-fitted cranes to move iron scrap around. Iron
                is one of the most recycled metals on the planet partly because it is straightforward to reprocess. Some
                common household features like bathtubs, boilers, and washing machines pack a lot of iron in them.</li>
        </ul>
    </div>
    <img class="responsive" src="static/img/nonferrous.jpg" alt="Nonferrous" height="500px" width="700px">
    <div class="homepage">
        <p>
        <ul>
            <li><strong>Copper</strong> is one of the most valuable metals that you can recycle, so keep an eye out for
                it. It has a reddish color when in good condition, but it can have a dark brown appearance when worn.
                You can find copper in computer cables, and power cords, and old extension cords. Old plumbing pipes,
                cooking pans, and electromagnets may also contain copper.</li>
            <li><strong>Aluminum</strong> may look like steel, but it won’t stick to magnets like the latter. Window
                frames, car hoods, bicycles, and motorbikes usually contain aluminum. Oh! Those old soda and beer cans
                in your bin also count.</li>
            <li><strong>Stainless steel</strong> contains 70% iron. But it is still considered a nonferrous metal and
                commands a higher price per pound. The reason? It contains, at least, 8% nickel. Appliances and
                kitchenware as well as some automotive and aerospace equipment contain stainless steel. As you may have
                expected, it looks like regular steel but is not magnetic.</li>
            <li><strong>Brass</strong> is a combination of zinc and copper, often found in keys, valves, doorknobs, and
                faucets. This heavy metal has a yellowish color (with a touch of red), but often takes a greenish
                appearance when left outside for a prolonged period of time.</li>
            <li><strong>Bronze </strong>is a product of numerous metals including copper, tin, manganese, zinc,
                aluminum, and nickel. Distinguishing it from brass and copper can be tricky, but one thing to keep in
                mind is that bronze is water and corrosion-resistant.</li>
            <li><strong>Lead</strong> is hailed for its industrial properties including corrosion resistance and
                excellent malleability. But while it is pliable and soft, lead is heavy, making it a good fit for wheel
                weights and pipes.</li>
        </ul>
        </p>
    </div>

</section>
{% endblock %}