{% extends 'main.html' %}
{% block content %}

<section class="flex-center" xmlns="http://www.w3.org/1999/html">

  <h1>How it works?</h1>

    <div class="bloky">
        <div class="step-block">
            <h2 class="block-title">Step 1</h2>
            <p>
                <h3>Create an account</h3> </br>
            <img class="block-img" src="static/img/1step.png" >
            </p>
        </div>
         <div class="step-block">
            <h2 class="block-title">Step 2</h2>
             <p>
                 <h3>Confirm your identity</h3> </br>
            <img class="block-img" src="static/img/2step.png" >
             </p>
        </div>
         <div class="step-block">
            <h2 class="block-title">Step 3</h2>
             <p>
                 <h3>Hand over the materials</h3> </br>
            <img class="block-img" src="static/img/3step.png" >
             </p>
        </div>
    </div>
</section>

{% endblock %}